@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: 218,36,30;
  --carousel-size: 70px;
  --carousel-padding: 30%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}

/* 👉 Spacing */
.section-container {
  padding-left: 10%;
  padding-right: 10%;
}

/* 👉 Font */
.text-primary {
  color: rgb(var(--primary));
}

/* 👉 Background */
.bg-primary {
  background-color: rgb(var(--primary));
}

/* 👉 Plugin */
.drawer-padding-none .ant-drawer-body {
  padding: 0 !important;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-arrow {
  width: var(--carousel-size);
  height: var(--carousel-size);
  top: auto;
  bottom: calc(var(--carousel-padding) * -1);
}

.slick-arrow::before {
  color: rgba(0, 0, 0, 0.5);
}

.slick-next {
  right: var(--carousel-size);
}

.slick-prev {
  left: var(--carousel-size);
}

.slick-next::before,
.slick-prev::before{
  content: "";
  display: inline-block;
  width: var(--carousel-size);
  height: var(--carousel-size);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
}

.slick-next::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 12H19' stroke='white' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 5L19 12L12 19' stroke='white' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.slick-prev::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 12H5' stroke='white' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 5L5 12L12 19' stroke='white' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

@media (max-width: 1200px) {
  .section-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}