.feedback {
  .slick-arrow {
    top: 50%;
    bottom: auto;

    @media (max-width: 1070px) {
      display: none !important;
    }
  }

  .slick-next {
    right: calc(var(--carousel-size) * -1);
  }

  .slick-prev {
    left: calc(var(--carousel-size) * -1);
  }

  .slick-dots {
    button {
      &::before {
        color: #fff !important;
        width: 50px;
        height: 50px;
        font-size: 1rem;
      }
    }
  }
}